@{
  Layout = "_Layout";
}

<div id="gatherBox">
<section class="text-center about">
      <h1>🍇 <b>Let's connect</b> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
</svg></h1>
      <div class="container">
        <div class="row">

           @* Smita *@
          <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
          
            <span class="fa fa-group"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" class="bi bi-emoji-smile-upside-down" viewBox="0 0 16 16">
            <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z"/>
            <path d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z"/>
            </svg></span>

            <h2>Smita</h2>
            <button type="button" class="btn btn-link"><a href="https://www.linkedin.com/in/smita-rajpurohit/" target="_blank">LinkedIn</a></button>
          </div>
          
          
          @* Dylan *@
          <div class="col-lg-3 col-sm-6 col-ex-12 about-item lightSpeedIn" data-wow-offset="200">
            
            <span class="fa fa-group"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" class="bi bi-emoji-wink" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm1.757-.437a.5.5 0 0 1 .68.194.934.934 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.934 1.934 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68z"/>
            </svg></span>

            <h2>Dylan</h2>
            <button type="button" class="btn btn-link"><a href="https://www.linkedin.com/in/dylan-allison-damitz/" target="_blank">LinkedIn</a></button>
          </div>
          
        
          <div class="clearfix visible-md-block visible-sm-block"></div>

           @* DeAunte *@
          <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">

            <span class="fa fa-group"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75"  class="bi bi-emoji-neutral" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
            </svg></span>

            <h2>DeAunt'e</h2>
            <button type="button" class="btn btn-link"><a href="https://www.linkedin.com/in/deauntehall/" target="_blank">LinkedIn</a></button>
          </div>

          <div class="clearfix visible-md-block visible-sm-block"></div>

          @* Carlos *@
          <div class="col-lg-3 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">

            <span class="fa fa-group"><svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg></span>
            
            <h2>Carlos</h2>
            <button type="button" class="btn btn-link"><a href="https://www.linkedin.com/in/carlos-urquiza/" target="_blank">LinkedIn</a></button>
          </div>
          
        </div>
        
      </div>
    </section>
</div>

