@{
  Layout = "_Layout";
}

@using Gather.Models;
@model IEnumerable<Gather.Models.Seeker>

<h1>Hello, @User.Identity.Name</h1>

@if (Model.Any())
{
  @using (Html.BeginForm())
  {
    <p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
  }

    @foreach (Seeker seeker in Model)
    {
      <p>@Html.ActionLink($"{seeker.Name}", "Details", new { id = seeker.SeekerId })</p>
    }
} 
else
{
  <h3>No seekers have been added yet!</h3>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>