@{
  Layout = "_Layout";
}

<h1>Welcome to the Gather!</h1>
<p>@Html.ActionLink("See all Jobs", "Index", "Jobs")</p> 
<p>@Html.ActionLink("See all JobSeekers", "Index", "Seekers")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>