@{
  Layout = "_Layout";
}

<!-- <div class="album py-5 bg-light"> -->
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="card mb-4 shadow-sm justify-content-center"><img alt="Card image cap" class="card-img-top img-fluid" src="https://gatherinvesting.com/wp-content/uploads/2021/07/Gather_logo_R-10-G48-B69.svg" />
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="50%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Gather.io</text></svg> -->
            <div class="card-body">
              <hr>
              <p class="card-text">Co-Founders</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-link"><a href="https://github.com/88-1982" target="_blank">DeAunte-Hall</a></button>
                  <button type="button" class="btn btn-link"><a href="https://github.com/webquiza" target="_blank">Carlos Urquiza</a></button>
                  <button type="button" class="btn btn-link"><a href="https://github.com/Dylan-Allison-Damitz" target="_blank">Dylan Allison-Damitz</a></button>
                  <button type="button" class="btn btn-link"><a href="https://github.com/smita-raj12" target="_blank">Smita Rajpurohit</a></button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
       