body,html
{
  background-image: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'El Messiri', sans-serif;
  color: black;
  /* text-shadow: 0.8px 0px rgb(255, 232, 181); */
  font-weight: bold;
  text-align: center;
}

div#footer 
{
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:rgb(51, 54, 54);
  padding:0px;
  color: white;
  text-align: right;
}

h1
{
  padding-top: 30px;
  color: rgb(158, 78, 78);
}

h4
{
  padding-top: 30px;
}

.container
{
  padding-top: 10px;
}

h3
{
  color: rgb(14, 13, 13);
  padding-top: 20px;
}

div#container
{ 
  padding-top: 10px;
  
}

img
{
  width: 5%;
  height: 0%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.card-img-top
{
  border-radius: 50px;
  background-color: rgb(145, 139, 139);
}

.card
{
  border-radius: 50px;
  background-color: rgb(145, 139, 139);
  border: 10px solid rgb(59, 58, 58);
}

.about{
	cursor: pointer;
	background-color: #575454;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
  border-radius: 50px;
}
.about h1 
{
  color: rgb(16, 15, 15);
	padding: 10px 0;
	margin-bottom: 20px;
}
.about h2 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #646162;
	border: 2px solid #4d4b4b;
/* 
	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease; */

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #0a0a0a;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #0e0d0d;
	font-size: 14px;
	font-weight: bold;
}

div#gatherBox
{
  border-radius: 50px;
  background-color: #575454;
  border: 10px solid rgb(31, 30, 30);
}
