<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="nav-item"> <a class="nav-link" href="/Jobs">Jobs</a></div>
      </div>
      <div class="col-sm">
        <div class="nav-item"> <a class="nav-link" href="/Seekers">Seekers</a></div>
      </div>
      <div class="col-sm">
        <div class="nav-item"> <a class="nav-link" href="/Account">Account</a></div>
      </div>
      <div class="col-sm">
        <div class="nav-item"> <a class="nav-link" href="/Contacts">Find Contact</a></div>
      </div>
    </div>
  </div>
</div>

