@using Gather.Models
@using (Html.BeginForm("Search", "Contacts"))
  {
    <div class= "container">
      <p>
        Find contact by company website: @Html.TextBox("companyName")  
        Find contact by location: @Html.TextBox("location") 
        <input type="submit" value="Search" />
      </p>
    </div>
  
  }

@{
  Layout = "_Layout";
}