@using Gather.Models
@using (Html.BeginForm("Search", "Contacts"))
  {
    <p>
        Find contact by company website: @Html.TextBox("companyName")  
        Find contact by location: @Html.TextBox("location") 
        <input type="submit" value="Search" />
    </p>
  }
  
@{
  Layout = "_Layout";
}